<h2>Dive Logs List</h2>
{{> flash_messages}}

{{!-- {{#each roomArray}}
<h3>{{this.name}}</h3>
<img src="{{this.pictureUrl}}" />
{{/each}} --}}

{{#each divelogs}}
<h3>{{this.divesite.name}}</h3>
{{/each}}


<a href="/dive/add-dive">Add a Dive</a>