<h3>About Us</h3>

<p>
  We love Scuba Diving so much we decide to create an online portal for it!!<br>
  Coming from different background and exploring different divesites along the way, we decide to share our experience
  for eveyone to see and have their input as well.<br>
  What we have seen now may not be like that a few years back.
</p>

<div class="wrap-creator">
  <h3>The Creators</h3>
  <div class="creator">
    <div>
      <h4>Cécile Daguin</h4>
    </div>
    <div>
      <h4>Fareaha Isnin</h4>
    </div>
  </div>
</div>