<h3>Professional Association of Diving Instructors(PADI)</h3>

<div class="courses">
<div>
  <h4>What is PADI?</h4>
  <p>PADI is the world’s leading scuba diver training organization.</p>

  <p>With more than 6,500 <a href="https://apps.padi.com/scuba-diving/dive-shop-locator/" title="PADI Dive Centers and Resorts">PADI
      Dive Centers and Resorts</a>, and more than 135,000 individual PADI Professionals who have issued more than 25
    million certifications around the world, you’ll find PADI diver courses and scuba diving services nearly
    everywhere.</p>

  <p>The PADI System of diver education is based on progressive training that introduces skills, safety-related
    information and local environmental knowledge to student divers in stages. PADI courses are student-centered and
    provide maximum practice and realistic application.</p>

  <p>PADI Professionals make underwater exploration and scuba diving adventures possible while maintaining the highest
    standards for diver training, safety and customer service. PADI’s “Four E's Philosophy” is that the dive lifestyle
    requires four elements:</p>

  <ul>
    <li><b>Education:</b> Beyond simply learning to scuba dive, you expand your capabilities as a diver through
      continued education. PADI’s full range of diver courses
      introduces you to new underwater activities and can even help you make a career move to become a PADI
      Professional.</li>
    <li><b>Experience:</b> PADI dive shops offer a variety of experiences from local dive tours to exotic dive travel.
      Diving is a social activity and, by affiliating with a PADI Dive Center or Resort, you can explore dive sites
      nearby or visit vacation destinations around the world with others who share your
      interests.</li>
    <li><b>Equipment:</b>Scuba gear makes diving possible. The best place to learn about all the
      fun gadgets and new scuba equipment available to you is at your local PADI Dive Center or Resort.</li>
    <li><b>Environmental Conservation:</b> A healthy underwater environment is essential to good diving and divers are
      great advocates for protecting our water resources. Throughout PADI courses, divers learn the importance of
      protecting fragile aquatic ecosystems and are encouraged to become involved in local and global conservation
      efforts. For more than two decades, PADI has partnered with <a href="http://www.projectaware.org/" target="_blank">Project
        AWARE®</a> – a global nonprofit organization dedicated to protecting our ocean planet – one dive at a time. To
      learn more about PADI's commitment to be a force for good.</li>
  </ul>

  <p>PADI Worldwide is a privately held corporation that is international in scope with service offices and
    distribution centers in Australia, Brazil, Canada, Japan, Russia, the United Kingdom and the United States. PADI
    Worldwide’s corporate headquarters is located in California, United States. PADI Regional Headquarters support the
    efforts of individual professional members and PADI Dive Centers and Resorts in more than 183 countries and
    territories. To serve the needs of divers worldwide, translations of PADI materials are available in at least 26
    languages.</p>

  <p>PADI Members influence decisions by sharing their opinions through advisory boards, one-on-one contact, group
    meetings, member seminars and responding to surveys sent out by PADI Worldwide or PADI Offices. However, the
    business activities of PADI Members are independent, and not owned, operated or controlled by PADI Worldwide or
    PADI Offices. PADI Dive Centers, Resorts and individual professional members agree to follow established standards
    for PADI diver-training programs, but are responsible for the day-to-day conduct of PADI programs and supervision
    of divers by themselves and their staff.</p>

    <a href="https://www.padi.com/">For more information on PADI</a>
</div>



<div>
  <img src="../../public/images/padi-model.jpg" alt="padi-model"/>
</div>
</div>



