<div class="container">

  <h3>Professional Association of Diving Instructors(PADI)</h3>

  <div class="courses">
    <div class="course-info">
      <p><b>PADI Worldwide</b> is a privately held corporation that is international in scope with service offices and
        distribution centers in Australia, Brazil, Canada, Japan, Russia, the United Kingdom and the United States. PADI
        Worldwide’s corporate headquarters is located in California, United States. PADI Regional Headquarters support the
        efforts of individual professional members and PADI Dive Centers and Resorts in more than 183 countries and
        territories. To serve the needs of divers worldwide, translations of PADI materials are available in at least 26
        languages.</p>

      <p>PADI Members influence decisions by sharing their opinions through advisory boards, one-on-one contact, group
        meetings, member seminars and responding to surveys sent out by PADI Worldwide or PADI Offices. However, the
        business activities of PADI Members are independent, and not owned, operated or controlled by PADI Worldwide or
        PADI Offices. PADI Dive Centers, Resorts and individual professional members agree to follow established standards
        for PADI diver-training programs, but are responsible for the day-to-day conduct of PADI programs and supervision
        of divers by themselves and their staff.</p>

        <a href="https://www.padi.com/">For more information on PADI</a>
    </div>

    <div class="course-info">
      <img src="/images/padi-model.jpg" alt="padi-model"/>
    </div>
  </div>
</div>



