<h3>Scuba Diving International (SDI)</h3>

<div class="courses">
  <div class="course-info">
    <p><b>Scuba 
Diving International</b> (SDI) is a
comprehensive programme of the world's most practical, 
enjoyable and innovative range of recreational diver 
courses.</p>
 
<p>With SDI courses, both students and instructors have 
embraced the no nonsense approach that the SDI 
training system offers. The course materials 
are streamlined to let you study the essential 
academics with a renewed emphasis on practical diving 
skills learned in both the pool and open water 
environments.</p>

<a href="https://www.tdisdi.com/">More Information on SDI</a>
  </div>

  <div class="course-info2">
    <img src="/images/SDI-model.jpg" alt="SDI model">
  </div>

</div>