<h3>Scuba School International (SSI)</h3>

<div class="courses">
  <div>
    <p><b>Scuba Schools International (SSI)</b> is an organization that teaches the skills involved in scuba diving and
      freediving, and supports dive businesses and resorts. SSI has over 2,500 authorized dealers, 35 regional centers,
      and offices all over the world.[citation needed] SSI offers internationally recognized recreational diver
      training programs - starting with snorkeling and entry level scuba diving courses up to Instructor Certifiers.
      The most common programs are: SSI Open Water Diver (OWD), Advanced Open Water Diver (AOWD). There are more than
      30 different specialty courses. Dive leader training programs start with the Dive Control Specialist (who is
      qualified like Assistant Instructor) followed by Open Water Instructor and above.[citation needed] SSI's training
      program for children aged 8–12 years is called Scuba Rangers.[citation needed] The training program for technical
      divers is called TechXR (Technical Extended Range) and includes decompression diving, trimix and other courses
      that exceed the limit for recreational divers.</p>

      <a href="https://www.divessi.com/en-IC/home/">More Information on SSI</a>
  </div>
  <div>
    <img src="../../public/images/SSI-model.png" alt="SSI-Model">
  </div>
</div>